.book {
    &-search-input{
        height: 40px;
        border-radius: 10px;
        border: 1px solid #bbb;
        padding: 5px;
        width: 300px;
        margin: 0 auto;
        display: block;
    }

    &-img {
        margin: 20px;
    }

    &-search {
        text-align: center;
    }
}

.container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    background: #fff;
    padding: 20px;
    margin: 20px;
}

.upper-part {
    display: flex;
    flex-direction: row;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    border-radius: 10px;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
  
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.short-book-description{
    display: block;
}

.full-book-description{
    display: none;
}

.modal .full-book-description{
    display: block;
}

.modal .short-book-description{
    display: none;
}

p {
    display: inline-block;
}