<div class="book-search">
        <p>Input Search request</p>
        <input type="search" class="book-search-input">
        <div class="search-info"></div>
        <div class="book-search-result">
          
        </div>
        <button class="previous-results" style="display: none">Previous Results</button>
        <button class="next-results" style="display: none">Next Results</button>
  </div>
      
    <!-- The Modal -->
  <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <!-- Modal content -->
        <div class="modal-content">
         
          <p>Some text in the Modal..</p>
        </div>
  </div>