body {
  background-color: white;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  position: sticky;
  top: 0;
  background: white;
  z-index: 1;
}

nav input#hamburger {
  display: none;
  cursor: pointer;
}

nav .hamburger_label {
  display: none;
}

.navigation ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

.navigation li {
  font-weight: 100;
  letter-spacing: 2px;
  padding: 20px;
  display: inline;
  -webkit-box-align: center;
  font-size: 16px;
  text-transform: uppercase;
}

.navigation  li.logo {
  color: black;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 4px;
}

#banner {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/web-101/unit-6/htmlcss1-img_tahoe.jpeg");
  background-size: cover;
  background-position: bottom center;
  height: 700px;
  width: 100%;
}

#banner .content h1 {
  border: 3px solid white;
  position: relative;
  top: 50px;
  width: 400px;
  margin: 0 auto;
}

#main {
  margin: 0 auto;
  padding: 40px;
  text-align: center;
  width: 400px;
  height: 100px;
  overflow: scroll;
}

h1 {
  color: white;
  font-size: 42px;
  font-weight: 600;
  text-align: center;
}

h2 {
  border: 1px dotted red;
  color: red;
  font-size: 14px;
  line-height: 48px;
  padding: 20px 30px;
  margin: 30px 20px;
  text-align: center;
}

h3 {
  color: red;
  font-size: 26px;
  font-weight: 700;
  padding: 20px 10px;
}

p {
  color: grey;
  font-size: 16px;
  line-height: 48px;
  margin-top: 60px;
  padding: 10px 20px;
}

.pull-quote {
  margin: 0 auto;
  width: 400px;
}

.byline {
  border-bottom: 1px solid LightGrey;
  border-top: 1px solid LightGrey;
  color: DarkGrey;
  font-size: 14px;
  font-weight: 200;
}

.share {
  border: 1px solid LightGrey;
  padding: 40px 0px;
  position: relative;
  text-align: center;
  width: 100%;
}

.share a {
  background: red;
  border: 1px solid red;
  border-radius: 3px;
  color: white;
  display: inline-block;
  margin: 10px;
  padding: 14px;
  text-decoration: none;
}

.share a:hover {
  background: white;
  border: 1px solid red;
  color: red;
}


@media (max-width: 768px) {
  nav .hamburger_label {
    display: inline-block;
    cursor: pointer;
    transform: rotate(90deg);
    font-size: 36px;
    position: relative;
    left: 5%;
  }
  
  .menu {
    display: none;
  }


  h1 {
    color: white;
    font-size: 42px;
    font-weight: 600;
    text-align: center;
  }
  
  h2 {
    border: 1px dotted red;
    color: red;
    font-size: 14px;
    line-height: 48px;
    padding: 1px 1px;
    margin: 1px 1px;
    text-align: center;
  }
  
  h3 {
    color: red;
    font-size: 26px;
    font-weight: 700;
    padding: 1px 1px;
  }

  nav input#hamburger:checked + .menu {
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.91);
    top: 42px;
    left: 0;
  }

  nav.navigation li {
    display: block;
    text-align: left;
  }

  .navigation {
    width: 100%;
  }

  #banner .content h1  {
    width: 100%;
  }

  #main {
    width: 100%;
    padding: 1px;
  }

  .share {
    width: 100%;
  }

}